{% extends 'nuistcis/base.html' %}

{% block title %}{{ department }}{% endblock %}
{% block departments_active %}active{% endblock %}

{% block body %}
<div class="container-fluid activities-container"  style="background-color:white ; border:ridge;">

    <div class="row">

        <!-- Left Department Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'nuistcis:detail' department.id %}">
                        {% if department.department_logo %}
                            <img src="{{ department.department_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ department.department_title }} <small>{{ department.genre }}</small></h1>
                    <h2>{{ department.artist }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Activity Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'nuistcis:detail' department.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'nuistcis:create_activity' department.id %}">Add New Activity</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Activitys</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Audio File</th>
                            <th>Favorite</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for activity in department.activity_set.all %}
                            <tr>
                                <td>{{ activity.activity_title }}</td>
                                <td>
                                    <a target="_blank" href="{{ activity.audio_file.url }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'nuistcis:favorite' activity.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if activity.is_favorite %}active{% endif %}"></span></a>
                                </td>
                                <td>
                                    <form action="{% url 'nuistcis:delete_activity' department.id activity.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="activity_id" value="{{ activity.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
