<footer class="footer-distributed" >

			<div class="footer-right"  >

<!--				<a href="#"><i class="fa fa-facebook"></i></a>-->
                <a href="#"><i class="fa fa-wechat"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>


			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="{% url 'nuistcis:index' %}">Home</a>
					·
					<a href="{% url 'nuistcis:create_department' %}">Departments</a>
					·
					<a href="{% url 'nuistcis:news_list' %}">News </a>
					·
					<a href="{% url 'nuistcis:index' %}">About</a>
					·
					<a href="{% url 'nuistcis:index' %}">Activities</a>
					·
					<a href="{% url 'nuistcis:index' %}">Contact</a>
				</p>

				<p>Nanjing University of Information Science and Technology &copy; 2019</p>
			</div>

		</footer>

<!--<footer class="footer ">-->
<!--			<div class="row">-->
<!--				<div class="col-md-4">-->
<!--                    <p>-->
<!--                    this is raeed-->
<!--                    </p>-->

<!--                </div>-->

<!--                <div class="col-md-4">-->
<!--                    <p>-->
<!--                    this is raeed-->
<!--                    </p>-->

<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <p>-->
<!--                    this is raeed-->
<!--                    </p>-->

<!--                </div>-->

<!--			</div>-->

<!--		</footer>-->