html{
position:relative;
min-height:100%;

}

body {
    background: white url("images/background.png");
    font-size: 100%;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}

footer{
position: absolute;
bottom : 0;
left: 0;
right : 0;
padding: 15px
height : 130px;
background-color: #2C3E50;
}